@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Wix+Madefor+Display&display=swap');
#content {
    max-width: 1600px;
    margin: 0 auto;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
.logo {
    width: 80px;
}
#logo_link {
    padding-top: 5px;
}
#hero-img {
    width: 100%;
}
nav a {
    text-align: center;
    color: #f9f7f0;
    text-decoration: none;
    font-family: "Wix Madefor Display", "Helvetica", "sans-serif";
    padding: 35px
}
nav a:hover {
    background-color: #18b7be;
    color: #072a40;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
}
body {
    background-color: #f9f7f0;
    color: #072a40;
    font-family: "Wix Madefor Display", "Helvetica", "sans-serif";
    margin: 0;
    padding: 0;
}
header {
    background-color: #18b7be;    
    color: #f9f7f0;
}
.home-title {
    font-size: 2em;
    color: #f9f7f0;
    margin-top: 10px;
    font-family: "Castoro Titling", "Times New Roman", "Arial";
}
.book, .join {
    background-color: #f9f7f0;
    margin-top: 50px;
    color: #18b7be;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: #178ca4;
    color: #072a40;
}
#background {
    background-color: #178ca4;
    color: #f9f7f0;
}
.msg {
    background-color: #072a40;
    color: #f9f7f0;
    font-family: "Wix Madefor Display", "Helvetica", sans-serif;
    padding: 35px;
    line-height: 1.5em;
}
h2 {
    margin: 0;
}
.msg h2 {
    color: #f9f7f0;
    font-family: "Castoro Titling", "Times New Roman", "Arial";
}
.msg p {
    color: #f9f7f0;
    font-family: "Wix Madefor Display", "Helvetica", sans-serif;
    font-size: 0.8em;
    padding-bottom: 15px;
}
footer {
    background-color: #18b7be;
    color: #f9f7f0;
    font-family: "Wix Madefor Display", "Helvetica", "sans-serif";
    padding-top: 15px;
    margin-top: 200px;
}
footer .social img {
    padding-top: 15px;
}
footer a {
    color: #f9f7f0;
    text-decoration: none;
}
footer a:hover {
    color: #f9f7f0;
    text-decoration: underline;
}
footer p {
    font-size: 1.2em;
}
.rivers-car, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid black;
}
main section img {
    box-sizing: border-box;
}