#content {
    max-width: 1600px;
    margin: 0 auto;
}
.icon {
    width: 80px;
}
.logo {
    width: 80px;
}
#hero-img {
    width: 100%;
}
nav a {
    text-align: center;
    color: #178ca4;
    text-decoration: none;
}
nav a:hover {
    background-color: #18b7be;
    color: #072a40;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
}
body {
    background-color: #f9f7f0;
    color: #f9f7f0;
}
header {
    background-color: #f9f7f0;    
    color: #f9f7f0;
}
.home-title {
    color: #f9f7f0;
}
.book, .join {
    background-color: #f9f7f0;
    color: #18b7be;
    text-decoration: none;
}
.book:hover, .join:hover {
    background-color: #178ca4;
    color: #072a40;
}
#background {
    background-color: #178ca4;
    color: #f9f7f0;
}
.msg {
    background-color: #072a40;
    color: #f9f7f0;
}
.msg h2 {
    color: #f9f7f0;
}
.msg p {
    color: #f9f7f0;
}
footer {
    background-color: #18b7be;
    color: #f9f7f0;
}
footer a {
    color: #f9f7f0;
    text-decoration: none;
}
footer a:hover {
    color: #f9f7f0;
    text-decoration: underline;
}
footer p {
    font-size: 1.2em;
}