.banner {
    width: 100%;
    padding: 0px;
}
.icons img{
    padding: 0px;
    margin: 100px;
    display: inline;
    width: 20%;
    border: 25px solid rgb(59, 59, 59);
    border-radius: 50%;
}
body {
    background-color: grey;
    margin: 0;
}